<div class="wrapper">
  <div class="left"> 
    <img src="{{pic}}" alt="user" width="150" class="img-circle">
    <br>
    <br>
    <h2>{{firstName}} </h2>

  </div>
        
  <div class="right">

    <div class="info">
          <h3> About Me:</h3>

      <div class="info_data">
          
           <div class="data">
            <h4>Phone</h4>
            <p> {{telephone}}</p>
        </div>
        <div class="data">
          <h4>Email</h4>
          <p>  {{email}}</p>
        </div>
        <div class="data">
          <h4>Address</h4>
          <p> {{adresse}}</p>
        </div>

    </div>
  </div>
          
  <div class="projects">

      <h3> Work:</h3>
      <div class="info_data">
        <div class="data">
          <h4>company</h4>
          <p> {{company}}</p>
        </div>
        <div class="data">
          <h4>location</h4>
          <p> {{location}}</p>
        </div>
        
        <div class="data">
          <h4>Entry date </h4>
          <p> {{role}}</p>
        </div>
       
      </div>
      <div class="projects">

        <h3> Education:</h3>
        <div class="info_data">
          <div class="data">
            <h4>schoolname</h4>
            <p> {{schoolname}}</p>
          </div>
          <div class="data">
            <h4>educationlevel</h4>
            <p> {{educationlevel}}</p>
          </div>
          <div class="data">
            <h4>Date</h4>
            <p> {{startdate}} - {{enddate}}</p>
          </div>
        
        </div>
        <div class="projects">

          <h3> Certifications:</h3>
          <div class="info_data">
            <div class="data">
              <h4>certificate</h4>
              <p> {{certificate}}</p>
            </div>
            <div class="data">
              <h4>certificatefrom</h4>
              <p> {{certificatefrom}}</p>
            </div>
            <div class="data">
              <h4>expirationDate</h4>
              <p> {{expirationDate}}</p>
            </div>
          
          </div>
          
        
    </div>