<div class="container pt-10" style="margin-top: 8%">
  <div class="row">
    <div
      class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
    >
      <div class="col ml-3">
        <div>
          <p class="text-start">
            <span style="font-size: 28pt; " 
              ><strong >RECRUIT <div class="bf">BETTER, FASTER, AND EASIER</div>
              </strong> </span
            ><br />
            <span style="font-size: 17pt;">
              <strong>Next Recruitment</strong>, is more than just an Applicant Tracking System. Combining unparalleled innovation, an intuitive and easy to use interface</span
            >
          </p>
        </div>

        <div>
          <button
            mdbBtn
            type="button"
            (click)="start()"
            color="indigo"
            class="buttonText"
            mdbWavesEffect
            routerLink="/login"
          >
          Recruiter 
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm d-flex justify-content-center ">
      <img src="assets/img/logo.gif" width="500" height="500" style="margin-top: 0%;" />
    </div>
  </div>
</div>