
<form>
  <div class="example-container">
      <table class="example-full-width" cellspacing="0">
<tr>
  <td>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select name="status" [(ngModel)] = "enteredStatus" [ngModelOptions]="{standalone: true}">
      <mat-option *ngFor="let status of Status" [value]="status.value">
        {{status.viewValue}}
      </mat-option>
    </mat-select>
    </mat-form-field>
 </td>
  <td>
      <button mat-stroked-button color="warn" name="search" type="submit">Search</button>
  </td>
  </tr>
  </table>
  </div>
</form>

<br>

<h1 style="font-size: 15px">Search Result:</h1>

        <table class="table">
            <thead>
                <tr>
                  <th><span style="margin-left: 20px"></span>Candidate ID</th>
                  <th><span style="margin-left: 20px"></span>Candidate Rank</th>
                  <th><span style="margin-left: 20px"></span>Application Date</th>
                  <th><span style="margin-left: 20px"></span>Status</th>
                </tr>
            </thead>
            <tbody style="margin-left: 20px" *ngFor="let job of searchResault">
              <tr *ngFor="let can of job.candidate">
                <td><span style="margin-left: 20px"></span>{{can.candidate_id}}</td>
                <td><span style="margin-left: 20px"></span>{{ can.rank}}</td>
                <td><span style="margin-left: 20px"></span>{{ can.applyDate}}</td>
                <td><span style="margin-left: 20px"></span>{{ can.status }}</td>
                <td><span style="margin-left: 20px"></span>
                  <button mat-raised-button color="warn" >Send Email</button>

                </td>
                    
                </tr>
            </tbody>
        </table>
